.btn {
    min-height: 56px;
    min-width: 100%;
    margin: 8px 0;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 1.25;
    border-radius: 3px;
    color: #fff;
    transition: background-color 0.15s ease-in-out;
    font-weight: 700;
    cursor: pointer;
    appearance: none;
    border: none;
}

.btn:hover {
    background-color: #004ed6;
}
