.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px 25px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input:not(:last-of-type) {
    margin-bottom: 8px;
}

.input:last-of-type {
    margin-bottom: 12px;
}
