.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 62px);
}

.title {
    color: #001a34;
    text-align: center;
}
